/* The POst Area Styling as CustomStyle */

.postRoot {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
    width: auto;
}

.postViewSection {
    width: 50rem !important;
    margin-bottom: 0 !important;
}


/* Post Card Home Or Profile */

.postTitleOnCard {
    text-decoration: none;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(90, 90, 90);
}

.postTitleOnCard:hover {
    color: black;
}