/* The Post Areas Stylesheet as CustomStyle */

.postLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    right: -50%;
    bottom: -50%;
}

/* Posts Styles */
.postPaper {
    /* display: grid;
    justify-items: center; */
    width: 80%;
    padding: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postTitle {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}