/*------- For All Profile Section Common ------*/

.paper {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*------ Profile Headers Section -------*/

.profileAvatar {
    border-radius: 100%;
    width: 11rem;
    height: 11rem;
    margin-top: 1rem;
    z-index: 1;
    border: 5px solid lightgray;
}


/* .profileAvatarEdit{
    visibility: hidden;
}
.profileAvatar:hover > .profileAvatarEdit{
    visibility: visible;
} */

.editButton {
    color: lightgray;
    font-size: 20px;
    cursor: pointer;
}

.editButton:hover {
    color: gray;
}

.profileContainer {
    width: 75% !important;
}

.profileInfoSection {
    max-width: 90% !important;
}


/*------ Profile Make Post Section -------*/

.postReadOnlyField {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 15px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.postReadOnlyField:hover {
    color: rgb(83, 83, 83);
}

.modalPostField {
    border: 1px solid rgb(236, 236, 236);
    font-size: 18px;
    padding: 10px;
}

.modalAvatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px dotted lightgray;
}

.imageUploader {
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
}

.postTitleStyle {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}


/*------ Profile Body Section ------*/
.postLoader{
    position: absolute;
    left: 50%;
    right: -50%;
    margin-top: 5rem;
}